.cabecalho {
    background-color: #a5cc7a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu, .cabecalho__logo, .colorMode__lista{
    width: 50px;
    margin: auto;
}






